.header-item {
    position: relative;
    background-color: var(--color-white);
    width: 100vw;
    height: 100px;
    z-index: 0;
  }
  .home2,
  .shop2 {
    text-decoration: none;
    color: inherit;
  }
  .home2 {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 500;
  }
  .shop2 {
    left: 28.6%;
  }
  .about2,
  .contact2,
  .shop2 {
    position: absolute;
    top: 0;
    font-weight: 500;
  }
  .about2 {
    text-decoration: none;
    left: 55.81%;
    color: inherit;
  }
  .contact2 {
    left: 84.65%;
text-decoration: none;
color: #000;
  }
  .home-container {
    position: absolute;
    height: 58.54%;
    width: 33.44%;
    top: 21.95%;
    right: 31.49%;
    bottom: 19.51%;
    left: 35.07%;
    font-size: 16px;
    text-decoration: none;
  }
  .akar-iconsheart1,
  .akar-iconssearch1,
  .ant-designshopping-cart-outli-icon1,
  .mdiaccount-alert-outline-icon1 {
    position: absolute;
    height: 68.29%;
    width: 2.18%;
    top: 17.07%;
    right: 17.03%;
    bottom: 14.63%;
    left: 80.79%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .akar-iconsheart1,
  .akar-iconssearch1,
  .ant-designshopping-cart-outli-icon1 {
    right: 11.35%;
    left: 86.47%;
  }
  .akar-iconsheart1,
  .ant-designshopping-cart-outli-icon1 {
    right: 5.68%;
    left: 92.15%;
  }
  .ant-designshopping-cart-outli-icon1 {
    right: 0;
    left: 97.82%;
  }
  .meubel-house-logos-05-icon1 {
    position: relative;
    width: 50px;
    height: 32px;
    object-fit: cover;
  }
  .skinclinic1 {
    position: relative;
  }
  .meubel-house-logos-05-group {
    position: absolute;
    height: 100%;
    width: 14.39%;
    top: 0;
    right: 85.61%;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-8xs);
  }
  .mdiaccount-alert-outline-group {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: var(--font-size-15xl);
    font-family: var(--font-montserrat);
  }
  .group-parent3 {
    position: absolute;
    margin: 0 !important;
    height: 41%;
    width: 89.31%;
    top: 29%;
    right: 6.94%;
    bottom: 30%;
    left: 3.75%;
    z-index: 1;
  }
  .header1 {
    margin: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-3xs);
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-black);
    font-family: var(--font-poppins);
  }
  .blog1,
  .header1,
  .rectangle-icon {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }
  .rectangle-icon {
    top: -6px;
    width: 100vw;
    height: 328px;
    object-fit: cover;
  }
  .blog1 {
    top: 61px;
    font-weight: 500;
  }
  .meubel-house-logos-05-icon2 {
    position: absolute;
    top: 0;
    left: 15px;
    width: 77px;
    height: 77px;
    object-fit: cover;
  }
  .blog-parent {
    position: absolute;
    top: 61px;
    left: 0;
    right: 0;
    margin: auto;
    width: 107px;
    height: 133px;
  }
  .blog2,
  .home3 {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 500;
  }
  .blog2 {
    left: 80px;
    font-weight: 300;
  }
  .dashiconsarrow-down-alt2 {
    position: absolute;
    top: 2px;
    left: 54px;
    width: 20px;
    height: 20px;
    overflow: hidden;
  }
  .home-parent1 {
    position: absolute;
    top: 195px;
    left: 0;
    right: 0;
    margin: auto;
    width: 115px;
    height: 24px;
    font-size: var(--font-size-base);
  }
  .rectangle-parent {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100vw;
    height: 316px;
    font-size: var(--font-size-29xl);
  }
  .trophy-1-icon {
    position: relative;
    width: 60px;
    height: 60px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .crafted-from-top,
  .high-quality {
    position: relative;
    line-height: 150%;
    font-weight: 600;
  }
  .crafted-from-top {
    font-size: var(--font-size-xl);
    font-weight: 500;
    color: var(--color-gray-3);
  }
  .text,
  .trophy-1-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-11xs);
  }
  .trophy-1-parent {
    flex-direction: row;
    align-items: center;
    gap: var(--gap-3xs);
  }
  .frame-child {
    position: relative;
    width: 85px;
    height: 85px;
    display: none;
  }
  .feature,
  .guarantee-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .guarantee-parent {
    justify-content: center;
    gap: var(--gap-3xs);
  }
  .feature {
    width: 1334px;
    justify-content: space-between;
  }
  .feature-wrapper,
  .footer-item {
    box-sizing: border-box;
    width: 100vw;
  }
  .feature-wrapper {
    position: absolute;
    top: 3184px;
    left: 0;
    background-color: var(--color-linen-100);
    height: 270px;
    display: flex;
    flex-direction: column;
    padding: var(--padding-81xl) 0;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size-6xl);
    color: var(--color-gray-100);
  }
  .footer-item {
    position: relative;
    background-color: var(--color-white);
    border-top: 1px solid var(--color-gray-200);
    height: 505.5px;
    z-index: 0;
    top: -50px;
  }
  .university-drive-suite1 {
    margin: 0;
  }
  .university-drive-suite-container1 {
    position: absolute;
    height: 23.08%;
    width: 25.15%;
    top: 27.56%;
    left: 0.18%;
    color: var(--color-darkgray-100);
    display: inline-block;
  }
  .about3,
  .contact3,
  .funiro1,
  .home4,
  .shop3 {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
  }
  .funiro1 {
    height: 11.54%;
    width: 7.5%;
    font-size: var(--font-size-5xl);
  }
  .about3,
  .contact3,
  .home4,
  .shop3 {
    height: 10.3%;
    width: 72.73%;
    font-weight: 500;
  }
  .about3,
  .contact3,
  .shop3 {
    width: 63.64%;
    top: 30.04%;
  }
  .about3,
  .contact3 {
    width: 74.24%;
    top: 60.09%;
  }
  .contact3 {
    width: 100%;
    top: 89.7%;
  }
  .home-parent2 {
    position: absolute;
    height: 74.68%;
    width: 97.06%;
    top: 25.32%;
    right: 0;
    bottom: 0;
    left: 2.94%;
  }
  .group-parent6,
  .links1 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .links1 {
    height: 7.69%;
    width: 58.82%;
    font-weight: 500;
    color: var(--color-darkgray-100);
    display: inline-block;
  }
  .group-parent6 {
    height: 100%;
    width: 19.32%;
    right: 80.68%;
    bottom: 0;
  }
  .help1,
  .payment-options1,
  .privacy-policies1,
  .returns1 {
    position: absolute;
    height: 9.92%;
    width: 26.43%;
    top: 0;
    left: 0;
    font-weight: 500;
    display: inline-block;
  }
  .payment-options1,
  .privacy-policies1,
  .returns1 {
    height: 14.72%;
    width: 100%;
  }
  .privacy-policies1,
  .returns1 {
    width: 44.29%;
    top: 42.94%;
  }
  .privacy-policies1 {
    width: 88.57%;
    top: 85.28%;
  }
  .help-group,
  .payment-options-group {
    position: absolute;
    height: 67.36%;
    width: 100%;
    top: 32.64%;
    right: 0;
    bottom: 0;
    left: 0;
    color: var(--color-black);
  }
  .help-group {
    height: 77.56%;
    width: 39.77%;
    top: 0;
    bottom: 22.44%;
    left: 60.23%;
    color: var(--color-darkgray-100);
  }
  .group-parent5 {
    position: absolute;
    height: 100%;
    width: 49.58%;
    top: 0;
    right: 50.42%;
    bottom: 0;
    left: 0;
  }
  .enter-your-email1,
  .newsletter1 {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
  }
  .newsletter1 {
    height: 23.76%;
    width: 30.07%;
    font-weight: 500;
  }
  .enter-your-email1 {
    height: 87.5%;
    width: 60.49%;
  }
  .line-div {
    position: absolute;
    height: 42px;
    width: 70.63%;
    top: 10%;
    right: 29.72%;
    bottom: -7.71%;
    left: -0.35%;
   
    box-sizing: border-box;
  }
  .subscribe1 {
    position: absolute;
    height: 29px;
    width: 80px;
    padding: 10px 2px 2px 0 ;
    border: 1px solid #B88E2F;
    align-items: center;
    text-align: center;
    justify-content: center;
    top: 1px;
    left: 63.78%;
    font-weight: 500;
    color: #fff;
    background-color: #B88E2F;
    display: inline-block;
  }
  .group-child1 {
    position: absolute;
    height: 15.41%;
    width: 26.93%;
    top: 92.29%;
    right: -0.35%;
    bottom: -7.71%;
    left: 73.42%;
    border-top: 1px solid var(--color-black);
    box-sizing: border-box;
  }
  .enter-your-email-address-group {
    position: absolute;
    height: 23.76%;
    width: 100%;
    top: 76.24%;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: var(--font-size-sm);
  }
  .newsletter-group {
    position: absolute;
    height: 32.37%;
    width: 40.28%;
    top: 0.64%;
    right: 0;
    bottom: 66.99%;
    left: 59.72%;
    color: var(--color-darkgray-100);
  }
  .group-parent4 {
    position: absolute;
    height: 100%;
    width: 62.67%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 37.33%;
  }
  .university-drive-suite-200-cor-group {
    position: relative;
    width: 1133.01px;
    height: 168.69px;
  }
  .group-child2 {
    position: absolute;
    height: 3.13%;
    width: 100.08%;
    top: -1.57%;
    right: -0.04%;
    bottom: 98.43%;
    left: -0.04%;
    border-top: 1px solid var(--color-gainsboro-100);
    box-sizing: border-box;
  }
  .furino-all-rights1 {
    position: absolute;
    height: 40.68%;
    width: 19.27%;
    top: 59.32%;
    left: 0.16%;
    display: inline-block;
  }
  .line-group {
    position: relative;
    width: 1240.01px;
    height: 31.9px;
  }
  .footer1,
  .frame-div {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .frame-div {
    margin: 0 !important;
    height: 44.87%;
    top: 9.5%;
    bottom: 45.63%;
    left: calc(50% - 620px);
    gap: var(--gap-7xl);
    z-index: 1;
  }
  .footer1 {
    bottom: 0;
    left: 0;
    gap: var(--gap-3xs);
  }
  .rectangle-div {
    background-color: var(--color-white);
    width: 820px;
    height: 2490px;
    margin: 0;
    top: 50px;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .categories,
  .group-child3,
  .rectangle-div {
    position: absolute;
   right: 0;
    left: 0;

  }
  .group-child3 {
    background-color: var(--color-white);
    width: 393px;
    height: 537px;
    position: relative;
    top:0;
    left: 20px;
    bottom: 0;
    right: 0;
   
  }
  .categories {
    font-size: var(--font-size-5xl);
    font-weight: 500;
    color: var(--color-black);
  }
  .crafts,
  .design {
    position: absolute;
    top: 69px;
    left: 0;
  }
  .design {
    top: 134px;
  }
  .handmade,
  .interior,
  .wood {
    position: absolute;
    top: 199px;
    left: 0;
  }
  .interior,
  .wood {
    top: 264px;
  }
  .wood {
    top: 329px;
  }
  .div,
  .div1,
  .div2,
  .div3,
  .div4 {
    position: absolute;
    top: 69px;
    left: 240px;
  }
  .div1,
  .div2,
  .div3,
  .div4 {
    top: 134px;
  }
  .div2,
  .div3,
  .div4 {
    top: 199px;
  }
  .div3,
  .div4 {
    top: 264px;
  }
  .div4 {
    top: 329px;
  }
  .categories-parent,
  .group-child4 {
    position: absolute;
    top: 123px;
    left: 77px;
    width: 251px;
    height: 353px;
  }
  .group-child4 {
    top: 0;
    left: 0;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-darkgray-100);
    box-sizing: border-box;
    width: 311px;
    height: 58px;
  }
  .akar-iconssearch2 {
    position: absolute;
    top: 17px;
    left: 277px;
    width: 24px;
    height: 24px;
    overflow: hidden;
  }
  .rectangle-parent1 {
    position: absolute;
    top: 22px;
    left: 41px;
    width: 311px;
    height: 58px;
  }
  .rectangle-container {
    position: absolute;
    top: 84px;
    left: 947px;
    width: 393px;
    height: 537px;
    color: var(--color-darkgray-100);
  }
  .going-all-in-with {
    position: absolute;
    top: 556px;
    left: 3px;
    font-size: var(--font-size-11xl);
    font-weight: 500;
  }
  .lorem-ipsum-dolor {
    position: absolute;
    top: 613px;
    left: 3px;
    font-size: var(--font-size-mini);
    line-height: 150%;
    color: var(--color-darkgray-100);
    text-align: justify;
    display: inline-block;
    width: 817px;
  }
  .admin,
  .group-child5 {
    position: absolute;
    top: 0;
  }
  .group-child5 {
    left: 3px;
    border-radius: var(--br-3xs);
    width: 817px;
    height: 500px;
    object-fit: cover;
  }
  .admin {
    left: 27px;
  }
  .dashiconsadmin-users {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    overflow: hidden;
  }
  .admin-parent {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 24px;
  }
  .citag-icon,
  .wood1 {
    position: absolute;
    top: 0;
    left: 31px;
  }
  .citag-icon {
    left: 0;
    width: 24px;
    height: 24px;
    overflow: hidden;
  }
  .uiscalender-icon,
  .wood-parent {
    position: absolute;
    top: 0;
    left: 271px;
    width: 78px;
    height: 24px;
  }
  .uiscalender-icon {
    left: 0;
    width: 20px;
    height: 20px;
    overflow: hidden;
  }
  .group-parent8,
  .oct-2022-parent {
    position: absolute;
    top: 0;
    left: 115px;
    width: 121px;
    height: 24px;
  }
  .group-parent8 {
    top: 517px;
    left: 0;
    width: 349px;
    color: var(--color-darkgray-100);
  }
  .group-child6,
  .read-more {
    position: absolute;
    top: 0;
    left: 0;
  }
  .group-child6 {
    top: 35.5px;
    left: 5.5px;
    border-top: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 78px;
    height: 1px;
  }
  .read-more-parent {
    position: absolute;
    top: 758px;
    left: 3px;
    width: 89px;
    height: 36px;
    text-align: justify;
  }
  .going-all-in-with-millennial-d-parent {
    position: absolute;
    top: 0;
    left: 0;
    width: 820px;
    height: 794px;
  }
  .group-parent9,
  .handmade-parent {
    position: absolute;
    top: 0;
    left: 271px;
    width: 122px;
    height: 24px;
  }
  .group-parent9 {
    top: 517px;
    left: 0;
    width: 393px;
    color: var(--color-darkgray-100);
  }
  .exploring-new-ways-of-decorati-parent,
  .handmade-pieces-that-took-time-parent {
    position: absolute;
    top: 848px;
    left: 0;

    width: 820px;
    height: 794px;
  }
  .handmade-pieces-that-took-time-parent {
    top: 1696px;
    left: 0;
    right: 0;
    margin: 0;
  }
  .group-child11,
  .group-parent7 {
    position: absolute;
    top: 106px;
    left: 97px;
    right: 0;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 820px;
    height: 2490px;
  }
  .group-child11 {
    top: 0;
    left: 20px;
    background-color: var(--color-white);
    width: 393px;
    height: 650px;
  }
  .recent-posts {
    position: absolute;
    top: 0;
    left: 1px;
    font-size: var(--font-size-5xl);
    font-weight: 500;
  }
  .aug-2022 {
    position: absolute;
    top: 47px;
    left: 0;
    font-size: var(--font-size-xs);
    color: var(--color-darkgray-100);
    display: inline-block;
    width: 119px;
  }
  .going-all-in-with-millennial-d-group {
    position: absolute;
    top: 8px;
    left: 92px;
    width: 119px;
    height: 65px;
  }
  .group-child12,
  .group-parent11 {
    position: absolute;
    left: 0;
    height: 80px;
  }
  .group-child12 {
    top: 0;
    border-radius: var(--br-3xs);
    width: 80px;
    object-fit: cover;
  }
  .group-parent11 {
    top: 62px;
    width: 211px;
  }
  .exploring-new-ways1 {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 149px;
  }
  .exploring-new-ways-of-decorati-group,
  .group-parent12 {
    position: absolute;
    top: 8px;
    left: 92px;
    width: 149px;
    height: 65px;
  }
  .group-parent12 {
    top: 181px;
    left: 0;
    width: 241px;
    height: 80px;
  }
  .handmade-pieces-that1 {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 160px;
  }
  .group-parent13,
  .handmade-pieces-that-took-time-group {
    position: absolute;
    top: 8px;
    left: 92px;
    width: 160px;
    height: 65px;
  }
  .group-parent13 {
    top: 300px;
    left: 0;
    width: 252px;
    height: 80px;
  }
  .modern-home-in {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 119px;
  }
  .group-parent14,
  .group-parent15 {
    position: absolute;
    top: 419px;
    left: 0;
    width: 211px;
    height: 80px;
  }
  .group-parent15 {
    top: 538px;
  }
  .recent-posts-parent {
    position: absolute;
    top: 16px;
    left: 76px;
    width: 252px;
    height: 618px;
  }
  .rectangle-parent2 {
    position: absolute;
    top: 662px;
    left: 947px;
    width: 393px;
    height: 650px;
    font-size: var(--font-size-sm);
  }
  .group-child17 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-3xs);
    background-color: var(--primary);
    width: 60px;
    height: 60px;
  }
  .div5 {
    position: absolute;
    top: 15px;
    left: 27px;
  }
  .group-child18,
  .rectangle-parent3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
  }
  .rectangle-parent3 {
    color: var(--color-white);
  }
  .group-child18 {
    border-radius: var(--br-3xs);
    background-color: var(--color-linen-200);
  }
  .div6 {
    position: absolute;
    top: 15px;
    left: 24px;
  }
  .group-child20,
  .rectangle-parent4,
  .rectangle-parent5 {
    position: absolute;
    top: 0;
    left: 98px;
    width: 60px;
    height: 60px;
  }
  .group-child20,
  .rectangle-parent5 {
    left: 196px;
  }
  .group-child20 {
    left: 0;
    border-radius: var(--br-3xs);
    background-color: var(--color-linen-200);
    width: 98px;
  }
  .next {
    position: absolute;
    top: 15px;
    left: 28px;
    font-weight: 300;
  }
  .group-parent16,
  .rectangle-parent6 {
    position: absolute;
    top: 0;
    left: 294px;
    width: 98px;
    height: 60px;
  }
  .group-parent16 {
    top: 2650px;
    left: 0;
    right: 0;
    margin: auto;
    width: 392px;
    font-size: var(--font-size-xl);
  }
  .rectangle-group {
    position: absolute;
    top: 416px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    margin: 0;
    width: 100vw;
    height: 2710px;
  }
  .blog {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 3981px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-black);
    font-family: var(--font-poppins);
  }
  