.header-item {
    position: relative;
    background-color: var(--color-white);
    width: 100vw;
    height: 100px;
    z-index: 0;
  }
  .home2,
  .shop2 {
    text-decoration: none;
    color: inherit;
  }
  .home2 {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 500;
  }
  .shop2 {
    left: 28.6%;
  }
  .about2,
  .contact2,
  .shop2 {
    position: absolute;
    top: 0;
    font-weight: 500;
  }
  .about2 {
    text-decoration: none;
    left: 55.81%;
    color: inherit;
  }
  .contact2 {
    left: 84.65%;
    text-decoration: none;
    color: black;
  }
  .home-container {
    position: absolute;
    height: 58.54%;
    width: 33.44%;
    top: 21.95%;
    right: 31.49%;
    bottom: 19.51%;
    left: 35.07%;
    font-size: 16px;
  }
  .akar-iconsheart1,
  .akar-iconssearch1,
  .ant-designshopping-cart-outli-icon1,
  .mdiaccount-alert-outline-icon1 {
    position: absolute;
    height: 68.29%;
    width: 2.18%;
    top: 17.07%;
    right: 17.03%;
    bottom: 14.63%;
    left: 80.79%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .akar-iconsheart1,
  .akar-iconssearch1,
  .ant-designshopping-cart-outli-icon1 {
    right: 11.35%;
    left: 86.47%;
  }
  .akar-iconsheart1,
  .ant-designshopping-cart-outli-icon1 {
    right: 5.68%;
    left: 92.15%;
  }
  .ant-designshopping-cart-outli-icon1 {
    right: 0;
    left: 97.82%;
  }
  .meubel-house-logos-05-icon1 {
    position: relative;
    width: 50px;
    height: 32px;
    object-fit: cover;
  }
  .skinclinic1 {
    position: relative;
  }
  .meubel-house-logos-05-group {
    position: absolute;
    height: 100%;
    width: 14.39%;
    top: 0;
    right: 85.61%;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-8xs);
  }
  .mdiaccount-alert-outline-group {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: var(--font-size-15xl);
    font-family: var(--font-montserrat);
  }
  .group-parent3 {
    position: absolute;
    margin: 0 !important;
    height: 41%;
    width: 89.31%;
    top: 29%;
    right: 6.94%;
    bottom: 30%;
    left: 3.75%;
    z-index: 1;
  }
  .header1 {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-3xs);
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-black);
    font-family: var(--font-poppins);
  }
  .meubel-house-logos-05-icon2,
  .rectangle-icon {
    position: absolute;
    top: -6px;
    left: 0;
    width: 100vw;
    height: 328px;
    object-fit: cover;
  }
  .meubel-house-logos-05-icon2 {
    top: 0;
    left: 212.5px;
    width: 77px;
    height: 77px;
  }
  .product-comparison1 {
    position: absolute;
    top: 61px;
    left: 0;
    font-weight: 500;
  }
  .meubel-house-logos-05-container {
    position: absolute;
    top: 61px;
    left: calc(50% - 251px);
    width: 502px;
    height: 149px;
  }
  .comparison {
    position: absolute;
    top: 0;
    left: 80px;
    font-weight: 300;
  }
  .dashiconsarrow-down-alt2 {
    position: absolute;
    top: 2px;
    left: 54px;
    width: 20px;
    height: 20px;
    overflow: hidden;
  }
  .home-parent1 {
    position: absolute;
    top: 195px;
    left: 0;
    right: 0;
    margin: auto;
    width: 179px;
    height: 24px;
    text-align: left;
    font-size: var(--font-size-base);
  }
  .rectangle-parent {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100vw;
    height: 316px;
    text-align: center;
  }
  .go-to-product {
    margin: 0;
  }
  .go-to-product-container1 {
    line-break: anywhere;
    width: 100%;
  }
  .go-to-product-container {
    position: absolute;
    top: 55px;
    left: 42px;
    font-size: var(--font-size-9xl);
    line-height: 126.5%;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 223px;
  }
  .asgaard-sofa {
    top: 229px;
    left: 342px;
    font-size: var(--font-size-5xl);
    font-weight: 500;
    width: 192px;
  }
  .asgaard-sofa,
  .general,
  .outdoor-sofa-set {
    position: absolute;
    line-height: 126.5%;
    display: flex;
    align-items: center;
  }
  .outdoor-sofa-set {
    top: 229px;
    left: 674px;
    font-size: var(--font-size-5xl);
    font-weight: 500;
    width: 224px;
  }
  .general {
    top: 428px;
    left: 42px;
  }
  .dimensions,
  .general,
  .warranty {
    font-size: var(--font-size-9xl);
    font-weight: 500;
    width: 175px;
  }
  .dimensions {
    position: absolute;
    top: 1352px;
    left: 42px;
    line-height: 126.5%;
    display: flex;
    align-items: center;
  }
  .warranty {
    top: 1831px;
  }
  .product,
  .sales-package,
  .sectional-sofa,
  .warranty,
  .warranty-summary,
  .width {
    position: absolute;
    left: 42px;
    line-height: 126.5%;
    display: flex;
    align-items: center;
  }
  .product {
    top: 907px;
    font-size: var(--font-size-9xl);
    font-weight: 500;
    width: 225px;
  }
  .sales-package,
  .sectional-sofa,
  .warranty-summary,
  .width {
    top: 491px;
    width: 175px;
  }
  .sectional-sofa,
  .warranty-summary,
  .width {
    top: 1415px;
  }
  .sectional-sofa,
  .warranty-summary {
    top: 1894px;
    width: 233px;
  }
  .sectional-sofa {
    top: 478px;
    left: 363px;
    width: 226px;
  }
  .cm,
  .cm1,
  .three-seater-2,
  .year-manufacturing-warranty,
  .year-manufacturing-warranty1 {
    position: absolute;
    top: 465px;
    left: 707px;
    line-height: 126.5%;
    display: flex;
    align-items: center;
    width: 226px;
  }
  .cm,
  .cm1,
  .year-manufacturing-warranty,
  .year-manufacturing-warranty1 {
    top: 1415px;
    left: 363px;
  }
  .cm1,
  .year-manufacturing-warranty,
  .year-manufacturing-warranty1 {
    top: 1898px;
  }
  .cm1,
  .year-manufacturing-warranty1 {
    top: 1894px;
    left: 682px;
  }
  .cm1 {
    top: 1415px;
    left: 707px;
  }
  .cm2,
  .cm3,
  .dtubligrbl568,
  .filling-material,
  .finish-type,
  .foam,
  .matte,
  .tfcbligrbl6srhs {
    position: absolute;
    top: 550px;
    left: 363px;
    line-height: 126.5%;
    display: flex;
    align-items: center;
    width: 226px;
  }
  .cm2,
  .cm3,
  .dtubligrbl568,
  .filling-material,
  .finish-type,
  .foam,
  .matte {
    left: 707px;
  }
  .cm2,
  .cm3,
  .filling-material,
  .finish-type,
  .foam,
  .matte {
    top: 1474px;
    left: 363px;
  }
  .cm3,
  .filling-material,
  .finish-type,
  .foam,
  .matte {
    left: 707px;
  }
  .filling-material,
  .finish-type,
  .foam,
  .matte {
    top: 970px;
    left: 363px;
  }
  .filling-material,
  .finish-type,
  .matte {
    left: 707px;
  }
  .filling-material,
  .finish-type {
    left: 42px;
    width: 175px;
  }
  .finish-type {
    top: 1029px;
  }
  .adjustable-headrest,
  .height,
  .maximum-load-capacity,
  .model-number,
  .origin-of-manufacture {
    position: absolute;
    top: 1088px;
    left: 42px;
    line-height: 126.5%;
    display: flex;
    align-items: center;
    width: 213px;
  }
  .height,
  .maximum-load-capacity,
  .model-number,
  .origin-of-manufacture {
    top: 1147px;
    width: 203px;
  }
  .height,
  .model-number,
  .origin-of-manufacture {
    top: 1231px;
    width: 225px;
  }
  .height,
  .model-number {
    top: 550px;
    width: 241px;
  }
  .height {
    top: 1474px;
  }
  .covered-in-warranty,
  .depth,
  .secondary-material,
  .solid-wood,
  .warranty-service-type-container {
    position: absolute;
    top: 1982px;
    left: 42px;
    line-height: 126.5%;
    display: flex;
    align-items: center;
    width: 241px;
  }
  .covered-in-warranty,
  .depth,
  .secondary-material,
  .solid-wood {
    top: 609px;
  }
  .covered-in-warranty,
  .depth,
  .solid-wood {
    top: 1533px;
  }
  .covered-in-warranty,
  .solid-wood {
    top: 2141px;
  }
  .solid-wood {
    top: 609px;
    left: 363px;
  }
  .bright-grey,
  .bright-grey1,
  .cm4,
  .cm5,
  .for-warranty-claims,
  .for-warranty-claims1,
  .solid-wood1 {
    position: absolute;
    top: 609px;
    left: 707px;
    line-height: 126.5%;
    display: flex;
    align-items: center;
    width: 241px;
  }
  .bright-grey,
  .bright-grey1,
  .cm4,
  .cm5,
  .for-warranty-claims,
  .for-warranty-claims1 {
    top: 1533px;
    left: 363px;
  }
  .for-warranty-claims{width: 245px;height: 125px;justify-content:center;}
  .bright-grey,
  .bright-grey1,
  .cm5,
  .for-warranty-claims,
  .for-warranty-claims1 {
    top: 1982px;
  }
  .bright-grey,
  .bright-grey1,
  .cm5,
  .for-warranty-claims1 {
    top: 1987px;
    left: 676px;
  }
  .bright-grey,
  .bright-grey1,
  .cm5 {
    top: 1533px;
    left: 707px;
  }
  .bright-grey,
  .bright-grey1 {
    top: 1029px;
    left: 363px;
  }
  .bright-grey1 {
    left: 707px;
  }
  .configuration,
  .kg,
  .kg1,
  .l-shaped,
  .l-shaped1,
  .no,
  .seat-height,
  .upholstery-material,
  .weight,
  .yes {
    position: absolute;
    top: 668px;
    left: 42px;
    line-height: 126.5%;
    display: flex;
    align-items: center;
    width: 175px;
  }
  .kg,
  .kg1,
  .l-shaped,
  .l-shaped1,
  .no,
  .seat-height,
  .upholstery-material,
  .weight,
  .yes {
    top: 1592px;
  }
  .kg,
  .kg1,
  .l-shaped,
  .l-shaped1,
  .no,
  .seat-height,
  .upholstery-material,
  .yes {
    top: 668px;
    left: 363px;
  }
  .kg,
  .kg1,
  .l-shaped1,
  .no,
  .seat-height,
  .upholstery-material,
  .yes {
    left: 707px;
  }
  .kg,
  .kg1,
  .no,
  .seat-height,
  .upholstery-material,
  .yes {
    top: 1592px;
    left: 363px;
  }
  .kg1,
  .no,
  .seat-height,
  .upholstery-material,
  .yes {
    left: 707px;
  }
  .no,
  .seat-height,
  .upholstery-material,
  .yes {
    top: 1088px;
    left: 363px;
  }
  .seat-height,
  .upholstery-material,
  .yes {
    left: 707px;
  }
  .seat-height,
  .upholstery-material {
    top: 727px;
    left: 42px;
    width: 241px;
  }
  .seat-height {
    top: 1651px;
  }
  .cm6,
  .cm7,
  .fabric-cotton,
  .fabric-cotton1,
  .kg2,
  .kg3,
  .warranty-against-manufacturing,
  .warranty-of-the {
    position: absolute;
    top: 727px;
    left: 363px;
    line-height: 126.5%;
    display: flex;
    align-items: center;
    width: 241px;
  }
  .cm6,
  .cm7,
  .fabric-cotton1,
  .kg2,
  .kg3,
  .warranty-against-manufacturing,
  .warranty-of-the {
    left: 707px;
  }
  .cm6,
  .cm7,
  .kg2,
  .kg3,
  .warranty-against-manufacturing,
  .warranty-of-the {
    top: 1651px;
    left: 363px;
  }
  .cm7,
  .kg2,
  .kg3,
  .warranty-against-manufacturing,
  .warranty-of-the {
    top: 2142px;
  }
  .cm7,
  .kg2,
  .kg3,
  .warranty-of-the {
    top: 2137px;
    left: 676px;
  }
  .cm7,
  .kg2,
  .kg3 {
    top: 1651px;
    left: 707px;
  }
  .kg2,
  .kg3 {
    top: 1147px;
    left: 363px;
  }
  .kg3 {
    left: 707px;
  }
  .bright-grey2,
  .bright-grey3,
  .cm8,
  .cm9,
  .india,
  .india1,
  .leg-height,
  .upholstery-color {
    position: absolute;
    top: 786px;
    left: 42px;
    line-height: 126.5%;
    display: flex;
    align-items: center;
    width: 241px;
  }
  .bright-grey2,
  .bright-grey3,
  .cm8,
  .cm9,
  .india,
  .india1,
  .leg-height {
    top: 1710px;
  }
  .bright-grey2,
  .bright-grey3,
  .cm8,
  .cm9,
  .india,
  .india1 {
    top: 786px;
    left: 363px;
  }
  .bright-grey3,
  .cm8,
  .cm9,
  .india,
  .india1 {
    left: 707px;
  }
  .cm8,
  .cm9,
  .india,
  .india1 {
    top: 1710px;
    left: 363px;
  }
  .cm9,
  .india,
  .india1 {
    left: 707px;
  }
  .india,
  .india1 {
    top: 1231px;
    left: 363px;
  }
  .india1 {
    left: 707px;
  }
  .view-more {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 500;
  }
  .line-div {
    position: absolute;
    top: 32px;
    left: -1px;
    border-top: 2px solid var(--color-dimgray-100);
    box-sizing: border-box;
    width: 117px;
    height: 2px;
  }
  .view-more-parent {
    position: absolute;
    top: 181px;
    left: 42px;
    width: 115px;
    height: 33px;
    color: var(--color-dimgray-100);
  }
  .group-child1 {
    position: absolute;
    top: 385.5px;
    left: -0.5px;
    border-top: 1px solid var(--color-gainsboro-100);
    box-sizing: border-box;
    width: 1333px;
    height: 1px;
  }
  .rectangle-div,
  .rectangle-wrapper {
    position: absolute;
    width: 280px;
    height: 177px;
  }
  .rectangle-div {
    top: 0;
    left: 0;
    border-radius: var(--br-3xs);
    background-color: var(--color-linen-200);
  }
  .rectangle-wrapper {
    top: 34px;
    left: 3px;
  }
  .outdoor-sofa-set-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 271px;
    height: 201px;
    object-fit: cover;
  }
  .asgaard-sofa-3,
  .group-parent4 {
    position: absolute;
    top: 0;
    left: 667px;
    width: 283px;
    height: 211px;
  }
  .asgaard-sofa-3 {
    top: 20px;
    left: 19px;
    width: 239px;
    height: 142px;
    object-fit: cover;
  }
  .group-wrapper,
  .rectangle-group {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 177px;
  }
  .group-wrapper {
    top: 34px;
    left: 340px;
  }
  .group-child3,
  .group-child4,
  .group-child5 {
    position: absolute;
    top: 385.5px;
    left: 300.5px;
    border-right: 1px solid var(--color-gainsboro-100);
    box-sizing: border-box;
    width: 1px;
    height: 2260px;
  }
  .group-child4,
  .group-child5 {
    left: 644.5px;
  }
  .group-child5 {
    left: 988.5px;
  }
  .div,
  .div1,
  .rs-22400000,
  .rs-25000000 {
    position: absolute;
    top: 265px;
    left: 343px;
    font-size: var(--font-size-lg);
    font-weight: 500;
  }
  .div,
  .div1,
  .rs-22400000 {
    left: 675px;
  }
  .div,
  .div1 {
    top: 299px;
  }
  .div1 {
    left: 343px;
  }
  .group-child6,
  .group-icon {
    position: absolute;
    top: 302px;
    left: 374px;
    width: 124px;
    height: 20px;
  }
  .group-child6 {
    left: 707px;
  }
  .group-child7,
  .group-child8 {
    position: absolute;
    top: 296.5px;
    left: 503.5px;
    border-right: 1px solid var(--color-darkgray-100);
    box-sizing: border-box;
    width: 1px;
    height: 31px;
  }
  .group-child8 {
    left: 830.5px;
  }
  .review,
  .review1 {
    position: absolute;
    top: 302px;
    left: 513px;
    font-size: var(--font-size-smi);
    color: var(--color-darkgray-100);
  }
  .review1 {
    left: 839px;
  }
  .group-child9 {
    position: absolute;
    top: 40px;
    left: 0;
    border-radius: var(--br-7xs);
    background-color: var(--primary);
    width: 242px;
    height: 39px;
  }
  .add-a-product,
  .choose-a-product {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 126.5%;
    font-weight: 600;
    display: flex;
    align-items: center;
    width: 174px;
    height: 26px;
  }
  .choose-a-product {
    top: 46px;
    left: 18px;
    font-size: var(--font-size-sm);
    color: var(--color-white);
    width: 149px;
  }
  .vector-icon {
    position: absolute;
    top: 54px;
    left: 208px;
    width: 20px;
    height: 10.88px;
  }
  .rectangle-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 242px;
    height: 79px;
  }
  .group-child10,
  .group-frame {
    position: absolute;
    left: 1019px;
  }
  .group-frame {
    top: 83px;
    width: 242px;
    height: 79px;
    font-size: var(--font-size-5xl);
  }
  .group-child10 {
    top: 164px;
    border-radius: var(--br-7xs);
    background-color: var(--color-white);
    box-shadow: 0 4px 25px -4px rgba(0, 0, 0, 0.25);
    width: 241px;
    height: 228px;
    display: none;
  }
  .domestic-warranty,
  .months,
  .not-covered-in,
  .the-warranty-does,
  .the-warranty-does1,
  .year {
    position: absolute;
    top: 1px;
    left: 0;
    line-height: 126.5%;
    display: flex;
    align-items: center;
    width: 175px;
  }
  .domestic-warranty,
  .months,
  .the-warranty-does,
  .the-warranty-does1,
  .year {
    top: 210px;
    width: 241px;
  }
  .months,
  .the-warranty-does,
  .the-warranty-does1,
  .year {
    top: 1px;
    left: 321px;
  }
  .months,
  .the-warranty-does1,
  .year {
    top: 0;
    left: 628px;
  }
  .months,
  .year {
    top: 210px;
    left: 321px;
  }
  .months {
    top: 217px;
    left: 632px;
  }
  .not-covered-in-warranty-parent {
    position: absolute;
    top: 0;
    left: 0;
    width: 873px;
    height: 242px;
    color: var(--color-black);
  }
  .group-child11 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    box-sizing: border-box;
    width: 215px;
    height: 64px;
  }
  .add-to-cart {
    position: absolute;
    top: 17px;
    left: 48px;
  }
  .add-to-cart a{text-decoration: none;color: #fff;}
  .group-parent5,
  .rectangle-parent1,
  .rectangle-parent2 {
    position: absolute;
    top: 295px;
    left: 301px;
    width: 215px;
    height: 64px;
  }
  .group-parent5,
  .rectangle-parent2 {
    left: 624px;
  }
  .group-parent5 {
    top: 2286px;
    left: 39px;
    width: 873px;
    height: 359px;
    color: var(--color-white);
  }
  .go-to-product-page-for-more-pr-parent {
    position: absolute;
    top: 416px;
    left: 0;
    right: 0;
    width: 1332px;
    height: 2645px;
    margin: auto;
    font-size: var(--font-size-xl);
  }
  .trophy-1-icon {
    position: relative;
    width: 60px;
    height: 60px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .crafted-from-top,
  .high-quality {
    position: relative;
    line-height: 150%;
    font-weight: 600;
  }
  .crafted-from-top {
    font-size: var(--font-size-xl);
    font-weight: 500;
    color: var(--color-gray-3);
  }
  .text,
  .trophy-1-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-11xs);
  }
  .trophy-1-parent {
    flex-direction: row;
    align-items: center;
    gap: var(--gap-3xs);
  }
  .frame-child {
    position: relative;
    width: 85px;
    height: 85px;
    display: none;
  }
  .feature,
  .guarantee-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .guarantee-parent {
    justify-content: center;
    gap: var(--gap-3xs);
  }
  .feature {
    width: 1334px;
    justify-content: space-between;
  }
  .feature-wrapper,
  .footer-item {
    box-sizing: border-box;
    width: 100vw;
  }
  .feature-wrapper {
    position: absolute;
    top: 3173px;
    left: 0;
    background-color: var(--color-linen-100);
    height: 270px;
    display: flex;
    flex-direction: column;
    padding: var(--padding-81xl) 0;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size-6xl);
    color: var(--color-gray-100);
  }
  .footer-item {
    position: relative;
    background-color: var(--color-white);
    border-top: 1px solid var(--color-gray-200);
    height: 505.5px;
    z-index: 0;
  }
  .university-drive-suite-container1 {
    position: absolute;
    height: 23.08%;
    width: 25.15%;
    top: 27.56%;
    left: 0.18%;
    color: var(--color-darkgray-100);
    display: inline-block;
  }
  .about3,
  .contact3,
  .funiro1,
  .home4,
  .shop3 {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
  }
  .funiro1 {
    height: 11.54%;
    width: 7.5%;
    font-size: var(--font-size-5xl);
  }
  .about3,
  .contact3,
  .home4,
  .shop3 {
    height: 10.3%;
    width: 72.73%;
    font-weight: 500;
  }
  .about3,
  .contact3,
  .shop3 {
    width: 63.64%;
    top: 30.04%;
  }
  .about3,
  .contact3 {
    width: 74.24%;
    top: 60.09%;
  }
  .contact3 {
    width: 100%;
    top: 89.7%;
  }
  .home-parent2 {
    position: absolute;
    height: 74.68%;
    width: 97.06%;
    top: 25.32%;
    right: 0;
    bottom: 0;
    left: 2.94%;
  }
  .group-parent8,
  .links1 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .links1 {
    height: 7.69%;
    width: 58.82%;
    font-weight: 500;
    color: var(--color-darkgray-100);
    display: inline-block;
  }
  .group-parent8 {
    height: 100%;
    width: 19.32%;
    right: 80.68%;
    bottom: 0;
  }
  .help1,
  .payment-options1,
  .privacy-policies1,
  .returns1 {
    position: absolute;
    height: 9.92%;
    width: 26.43%;
    top: 0;
    left: 0;
    font-weight: 500;
    display: inline-block;
  }
  .payment-options1,
  .privacy-policies1,
  .returns1 {
    height: 14.72%;
    width: 100%;
  }
  .privacy-policies1,
  .returns1 {
    width: 44.29%;
    top: 42.94%;
  }
  .privacy-policies1 {
    width: 88.57%;
    top: 85.28%;
  }
  .help-group,
  .payment-options-group {
    position: absolute;
    height: 67.36%;
    width: 100%;
    top: 32.64%;
    right: 0;
    bottom: 0;
    left: 0;
    color: var(--color-black);
  }
  .help-group {
    height: 77.56%;
    width: 39.77%;
    top: 0;
    bottom: 22.44%;
    left: 60.23%;
    color: var(--color-darkgray-100);
  }
  .group-parent7 {
    position: absolute;
    height: 100%;
    width: 49.58%;
    top: 0;
    right: 50.42%;
    bottom: 0;
    left: 0;
  }
  .enter-your-email1,
  .newsletter1 {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
  }
  .newsletter1 {
    height: 23.76%;
    width: 30.07%;
    font-weight: 500;
  }
  .enter-your-email1 {
    height: 87.5%;
    width: 60.49%;
    top: 10px;
  }
  .group-child13 {
    position: absolute;
    height: 15.41%;
    width: 70.63%;
    top: 92.29%;
    right: 29.72%;
    bottom: -7.71%;
    left: -0.35%;
    border-top: 1px solid var(--color-black);
    box-sizing: border-box;
  }
  .subscribe1 {
    position: absolute;
    height: 28px;
    width: 80px;
    padding: 10px 2px 2px 0 ;
    border: 1px solid #B88E2F;
    align-items: center;
    text-align: center;
    justify-content: center;
    top: 1px;
    left: 63.78%;
    font-weight: 500;
    color: #fff;
    background-color: #B88E2F;
    display: inline-block;
  }
  .group-child14 {
    position: absolute;
    height: 15.41%;
    width: 26.93%;
    top: 92.29%;
    right: -0.35%;
    bottom: -7.71%;
    left: 73.42%;
    border-top: 1px solid var(--color-black);
    box-sizing: border-box;
  }
  .enter-your-email-address-group {
    position: absolute;
    height: 23.76%;
    width: 100%;
    top: 76.24%;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: var(--font-size-sm);
  }
  .newsletter-group {
    position: absolute;
    height: 32.37%;
    width: 40.28%;
    top: 0.64%;
    right: 0;
    bottom: 66.99%;
    left: 59.72%;
    color: var(--color-darkgray-100);
  }
  .group-parent6 {
    position: absolute;
    height: 100%;
    width: 62.67%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 37.33%;
  }
  .university-drive-suite-200-cor-group {
    position: relative;
    width: 1133.01px;
    height: 168.69px;
  }
  .group-child15 {
    position: absolute;
    height: 3.13%;
    width: 100.08%;
    top: -1.57%;
    right: -0.04%;
    bottom: 98.43%;
    left: -0.04%;
    border-top: 1px solid var(--color-gainsboro-200);
    box-sizing: border-box;
  }
  .furino-all-rights1 {
    position: absolute;
    height: 40.68%;
    width: 19.27%;
    top: 59.32%;
    left: 0.16%;
    display: inline-block;
  }
  .line-group {
    position: relative;
    width: 1240.01px;
    height: 31.9px;
  }
  .footer1,
  .frame-div {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .frame-div {
    margin: 0 !important;
    height: 44.87%;
    top: 9.5%;
    bottom: 45.63%;
    left: calc(50% - 620px);
    gap: var(--gap-7xl);
    z-index: 1;
  }
  .footer1 {
    top: 3443px;
    left: 0;
    gap: var(--gap-3xs);
    font-size: var(--font-size-base);
  }
  .product-comparison {
    position: relative;
    background-color: var(--color-white);
    width: 100vw;
    height: 3998px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-29xl);
    color: var(--color-black);
    font-family: var(--font-poppins);
  }
  