body {
  margin: 0;
  line-height: normal;
}
html{scroll-behavior: smooth;}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-5xl: 24px;
  --font-size-15xl: 34px;
  --font-size-xl: 20px;
  --font-size-6xl: 25px;
  --font-size-13xl: 32px;
  --font-size-29xl: 48px;
  --font-size-xs: 12px;
  --font-size-17xl: 36px;
  --font-size-smi: 13px;
  --font-size-23xl: 42px;
  --font-size-lg: 18px;
  --font-size-9xl: 28px;
  --font-size-mini: 15px;
  --font-size-11xl: 30px;
  --font-size-21xl: 40px;

  /* Colors */
  --color-black: #000;
  --color-gainsboro-100: #e8e8e8;
  --color-gainsboro-200: #d9d9d9;
  --color-gray-5: #d8d8d8;
  --color-gray-4: #b0b0b0;
  --color-darkgray-100: #9f9f9f;
  --color-white: #fff;
  --color-gray-3: #898989;
  --color-gray-100: #242424;
  --color-gray-200: rgba(0, 0, 0, 0.17);
  --color-linen-100: #faf3ea;
  --color-linen-200: #f9f1e7;
  --primary: #b88e2f;
  --color-primary: #e89f71;
  --color-gray-1: #3a3a3a;
  --font-color: #333;
  --color-green-accents: #2ec1ac;
  --color-red-accents: #e97171;
  --color-light-bg: #f4f5f7;
  --color-mediumslateblue: #816dfa;
  --color-dimgray-100: #727272;
  --font-color1: #666;
  --color-gray-2: #616161;

  /* Gaps */
  --gap-3xs: 10px;
  --gap-7xl: 26px;
  --gap-8xs: 5px;
  --gap-11xs: 2px;
  --gap-5xl: 24px;
  --gap-xl: 20px;
  --gap-base: 16px;
  --gap-13xl: 32px;

  /* Paddings */
  --padding-81xl: 100px;
  --padding-7xs: 6px;
  --padding-11xl: 30px;

  /* border radiuses */
  --br-mini: 15px;
  --br-8xs: 5px;
  --br-31xl: 50px;
  --br-3xs: 10px;
  --br-7xs: 6px;
}
